<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Lazy Worksheets</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gapfiller_home.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    </head>
    <body>
        <div class="container-log-in">
        	<div>
                <img src="/static/lazy_logo.png" alt="" class="img-bubble"/>
                <p>Do you want to develop and improve your English through using real news stories?</p>
                <p>Lazy Worksheets can help you!</p>
                <br/>
                <p>1. Find an interesting news article!</p>
                <p>2. Paste the URL below.</p>
                <p>3. Click "GO!" to create your Lazy Worksheet!</p>
                <br/>
                <form action="/url_input" method="POST">
                    <div class="form-group">
                        <input id="inp_url" name="inp_url" class="input-create-room" type="inp_url" placeholder="Enter URL" />
                    </div>

                    <div class = Welcome-text->
                        <input id="go_button" type="submit" class="btn_apps" value="GO!" onclick="doFunction();">
                    </div>
                </form>

                        {% for message in get_flashed_messages() %}
                        <div style="flash_message">
                            <p style="flash_message">{{ message }}</p>
                        </div>
                        {% endfor %}
                </div>
        	</div>
        </div>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/lazy_homepage.js') }}"></script>

    </body>
</html>