<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>the Lazy co.</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/gapfiller_home.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    </head>
    <body>
        <div class="container-log-in">
        	<div>
                <img src="../images/chat_bubble.png" alt="" class="img-bubble"/>
                <div class = Welcome-text->
                    <p>Your pdf is downloading!!!</p>
                </div>
        	</div>
        </div>

    </body>
</html>


